<!DOCTYPE html>
<html>
{{>head title=this.title subpage='Page X' }}

<body>
    {{>header  title=this.title}}

    <main>
        <H1>{{title}}</H1>
        <br></br>
        <br></br>
            Give us all your money
        <br></br> Or give us your credit card info
        <br></br>
        This page is under construction
        <div class="imgcontainer">
            </div><img width=750px src="/img/construction.gif" alt="Avatar" class="avatar">
        </div>
    </main>
         <br></br>
        <br></br>   

    {{>footer}}
</body>

</html>